@charset "UTF-8";

.modal.show > .modal-dialog {
	opacity: 1;
	transform: scale(1);
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.modal.show > #content {
	user-select: none;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100vw;
	height: 100vh;
}

.fade {

}

.fade:not(.show) {
	opacity: 0;
}


.modal {
	overflow-x: scroll;
	transition: opacity 0.3s;
	background-color: #080808d0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100%;
	height: 100%;
	outline-style: none;
	border-style: none;
	overflow-y: auto;
}

.modal-dialog {
	opacity: 0;
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px;
	width: 600px;
	margin-top: calc(50vh - 345px);
	margin-left: calc(50vw - 300px);
	transform: scale(1.23);
	transition: all 0.3s, margin 0s, width 0s, height 0s, padding 0s;
	transition-timing-function: linear;
}

.modal-title {
    font-family: var(--semibold);
	font-size: 2rem;
	margin-bottom: 1rem;
}

.modal-header {
    font-family: var(--semibold);
	color: #ffffffa0;
	margin-bottom: 0.5rem;
}

.modal-dropdown {
	background-color: #202020;
	padding: 0.5rem;
	margin-bottom: 2rem;
}

.modal-dropdown-text {
	color: #ffffff80;
}

.modal-results {
	background-color: #202020;
	height: 400px;
	overflow-y: scroll;
}

.result {
	padding: 10px;
	display: flex;
	height: 120px;
}

.result-image {
	width: 100px;
	height: 100px;
	margin-right: 1rem;
}

.result-text {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.result-manufacturer {
	color: #ffffffa0;
	line-height: 1.2;
}

.result-model {
	font-size: 1.3rem;
	font-family: var(--semibold);
}

.result-cost {
	display: flex;
	margin-left: auto;
	margin-top: auto;
}



.contact {
	width: 800px;
	background-color: #303030;
	padding: 1rem;
	border-radius: 0.67rem;
	display: flex;
	flex-direction: column;
	border-top: var(--border-modal);
	border-bottom: var(--border-modal);
	border-left: var(--border-modal);
}
