@charset "UTF-8";

.modal.show > .modal-dialog {
	opacity: 1;
	transform: scale(1);
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.modal.show > #content {
	user-select: none;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100vw;
	height: 100vh;
}

.fade {

}

.fade:not(.show) {
	opacity: 0;
}


.modal {
	overflow-x: scroll;
	transition: opacity 0.2s;
	background-color: #080808d0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100%;
	height: 100%;
	outline-style: none;
	border-style: none;
	overflow-y: auto;
}

.modal-dialog {
	width: 600px;
	height: 100%;
	min-height: 400px;
	max-height: 700px;
	opacity: 0;
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px;
	margin-top: calc(50vh - 350px);
	margin-left: calc(50vw - 300px);
	transform: scale(1.2);
	transition: all 0.2s, margin 0s, width 0s, height 0s, padding 0s;
	transition-timing-function: linear;
}





.modal-title {
    font-family: var(--semibold);
	font-size: 2rem;
	margin-bottom: 1rem;
}

.modal-header {
    font-family: var(--semibold);
	color: #ffffffa0;
	height: 40px;
	line-height: 40px;
}

select {
	background-color: #202020;
	color: #eeab4c;
	padding: 0.5rem;
	margin-bottom: 2rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

#search {
	background-color: #202020;
	color: #eeab4c;
	width: 100%;
	height: 40px;
	margin-bottom: 2px;
	margin-left: auto;
	font-size: 15px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 0.5rem 0.5rem 0 0;
}

#results {
	background-color: #202020;
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 18px;
	border-radius: 0 0 0.5rem 0.5rem;
}

.modal-message {
	font-size: 15px;
	margin-top: 1rem;
	color: #ffffffa0;
}

.manufacturer {
	background-color: #202020;
	position: relative;
	z-index: 10;
}

.result {
	padding-top: 18px;
	padding-left: 18px;
	padding-right: 18px;
	line-height: 1.3;
	overflow: hidden;
}

.result-none {
	color: #ffffffa0;
	position: absolute;
	padding-top: 18px;
	padding-left: 18px;
}



.scrollable {
	padding: 18px;
	background-color: #202020;
	border-radius: 0.5rem;
	overflow-y: scroll;
	height: auto;
}

.faq-header {
	font-family: var(--semibold);
	margin-bottom: 0.5rem;
}

.faq-body {
	color: #ffffffa0;
	margin-bottom: 2rem;
}




.hidden {
	display: none;
}



.modal-section {
	width: 800px;
	height: 100%;
	min-height: 400px;
	max-height: 700px;
	background-color: #303030;
	padding: 1rem;
	border-radius: 0.67rem;
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	display: flex;
	flex-direction: column;
}
